.mainDetails {
  margin-top: 7%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.widthDetails {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cardDetails {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 70vw;
  height: 450px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
}
.cardDetails img {
  width: 260px;
  height: 260px;
}

.imgDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.asdf {
  margin-top: 20px;
  margin-left: 70px;
}
.imgDetails h3 {
  margin-left: 20px;
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.pishka {
  font-size: 20px;
}
.button {
  color: aliceblue;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 20px;
  border: none;
  margin-right: 40px;
  cursor: pointer;
}

.top {
  display: block;
  padding: 15px 65px;
  border-radius: 15px;
  font-size: 20px;
  background: blueviolet;
  color: white;
  transform: translateY(-6px);
}

.button:active .top {
  transform: translateY(-2px);
}
.blockchain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  padding: 15px;
  margin-top: 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
.blockchain h3 {
  font-family: "Oxygen";
  font-weight: 700;
}
.blockchain a button {
  font-family: "Oxygen";
  font-weight: 600;
  width: 100px;
  border-radius: 10px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .cardDetails {
    height: 600px;
  }
}
@media (max-width: 600px) {
  .imgDetails h3 {
    font-size: 20px;
    margin-left: 0;
  }
  .imgDetails p {
    font-size: 15px;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    /* width: 10px; */
  }
  .imgDetails .button {
    width: 200px;
    /* height: 100px; */
    margin-right: 0;
  }
  .asdf {
    margin-left: 0;
  }
  .top {
    padding: 0;
  }
  .cardDetails img {
    width: 200px;
    height: 200px;
  }
  .cardDetails {
    /* width: 90%; */
  }
  .blockchain {
    display: flex;
    flex-wrap: wrap;
  }
  .blockchain h3 {
    font-size: 15px;
    padding: 10px;
  }
}
