.mainDetails {
  margin-top: 7%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.widthDetails {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cardDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 450px;
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
}
