* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(232, 233, 232);
}
.donateH2 {
  font-size: 50px;
  font-family: "Oxygen";
}
.donateP {
  font-family: "Oxygen";
}
@media (max-width: 700px) {
  .donateH2 {
    font-size: 30px;
    font-weight: 700;
  }
  .donateP {
    font-size: 15px;
  }
}
